*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}


.Article_preview_component {
    display: flex;
    background: #affdf0;
    margin: 2rem;
    max-width: 50rem;
    border-radius: 14px;
}

.Article_Container {
    padding: 2.5rem;
}

.Img_Drawers {
    min-width: 20rem;
}

.Img_Drawers > img {
    height: 100%;    
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}

.Profile_Image {
    width: 2.5rem;
}

.Profile_Image > img {
    border-radius: 50%;
}

.Img_Drawers > img, .Profile_Image > img{
    width: 100%;
    object-fit: fill;
}

.Profile_Container {
    display: flex;
}

.ShareMenu_Container {
    background: hsl(217, 19%, 35%);
    padding: 1rem 2.5rem;
    padding-right: 1.5rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
    color: #fff;
    position: relative;
}

.ShareMenu_Container:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 12px solid hsl(217, 19%, 35%);
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    top: 100%;
    left: 6.5rem;
}

.ShareMenu_Container>span,
.ShareMenu_Container>svg {
    margin-right: 1rem;
}

.ShareMenu_Container:last-child {
    margin-right: 2rem;
    background: red;
}